In [2]:
!pip install pymysql

Collecting pymysql
  Obtaining dependency information for pymysql from https://files.pythonhosted.org/packages/e5/30/20467e39523d0cfc2b6227902d3687a16364307260c75e6a1cb4422b0c62/PyMySQL-1.1.0-py3-none-any.whl.metadata
  Downloading PyMySQL-1.1.0-py3-none-any.whl.metadata (4.4 kB)
Downloading PyMySQL-1.1.0-py3-none-any.whl (44 kB)
   ---------------------------------------- 0.0/44.8 kB ? eta -:--:--
   --------- ------------------------------ 10.2/44.8 kB ? eta -:--:--
   ------------------ --------------------- 20.5/44.8 kB 330.3 kB/s eta 0:00:01
   --------------------------- ------------ 30.7/44.8 kB 325.1 kB/s eta 0:00:01
   ---------------------------------------- 44.8/44.8 kB 276.2 kB/s eta 0:00:00
Installing collected packages: pymysql
Successfully installed pymysql-1.1.0

In [3]:
import os
import pymysql
import pandas as pd

# CONFIGURAR / ADAPTAR ...
host = "localhost"
port = 3306
user = "root"
password = ""
database = "universidade_alunos"

conn = pymysql.connect(
    host=host,
    port=int(port),
    user=user,
    passwd=password,
    db=database,
    charset='utf8mb4')

# ADAPTAR
df = pd.read_sql_query("SELECT * FROM aluno", conn)

df.tail(10)

C:\Users\Rodrigo Pereira\AppData\Local\Temp\ipykernel_5864\2744164287.py:21: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  df = pd.read_sql_query("SELECT * FROM aluno", conn)

,nr_aluno,nome,apelido,curso,media_entrada,curso_concluido,media_final
1750,200719,Maria João,Pereira,Psicologia,10,1,19.0
1751,20031555,Rodrigo,da Silva,Psicologia,10,1,19.0
1752,2003675,Marta,Capicua,Comunicação,19,1,10.0
1753,20201230,Lucas,Sampaio,Psicologia,20,1,12.0
1754,2003850,Rita,Pereira,Comunicação,19,1,11.0
1755,2019869,Alice,Laranjeira,Informática,11,1,17.0
1756,20221093,Patrícia,Pereira,Comunicação,14,1,16.0
1757,20071160,Lucas,Capicua,Informática,12,1,20.0
1758,2020288,Pedro,Capicua,Comunicação,13,1,19.0
1759,2019163820,Diana,da Silva,Comunicação,13,1,18.0

In [4]:
df.head(10)

,nr_aluno,nome,apelido,curso,media_entrada,curso_concluido,media_final
0,20031358,Leonardo,Pires,Psicologia,15,1,16.0
1,2022158,Raquel,Laranjeira,Informática,17,1,11.0
2,2003812,Anne,Silva,Informática,16,1,16.0
3,2022901,Patrícia,Castelo-Branco,Informática,11,1,17.0
4,2019303,Avelino,Sampaio,Comunicação,13,1,18.0
5,2020151,Beatriz,Laranjeira,Psicologia,10,1,18.0
6,20191405,Diana,Morais,Psicologia,19,1,11.0
7,2022311,Catarina,Cintra,Comunicação,20,1,10.0
8,20071496,Leonardo,Laranjeira,Comunicação,11,1,17.0
9,2019178,Marta,Pires,Informática,14,1,14.0